name: Build binary

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        machine: [ubuntu-latest, self-hosted-arm64]
    runs-on: ${{ matrix.machine }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'
      - uses: actions/cache@v4
        with:
          path: "/home/runner/.konan"
          key: ${{ runner.os }}-${{ hashFiles('**/build.gradle.kts') }}
      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt -y install libcurl4-openssl-dev
      - name: Build with Gradle
        run: ./gradlew commonBinaries
      - name: Move and apply correct permissions to binary
        run: |
          cp build/bin/common/releaseExecutable/slack-notifier-cli.kexe ./slack-notifier-cli-${{ runner.arch }}
          chmod +x ./slack-notifier-cli-${{ runner.arch }}
      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: slack-notifier-cli-${{ runner.arch }}
          path: slack-notifier-cli-${{ runner.arch }}
  publish:
    strategy:
      matrix:
        machine: [ubuntu-latest, self-hosted-arm64]
    runs-on: ${{ matrix.machine }}
    needs: build
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Run changelog cli action
        uses: monta-app/changelog-cli-action@main
        with:
          service-name: "Slack Notifier Cli"
          github-release: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          jira-app-name: "montaapp"
          version-mode: "SemVer"
          output: "console"
          slack-token: ${{ secrets.SLACK_APP_TOKEN }}
          slack-channel: "#releases"
      - name: Download executable
        uses: actions/download-artifact@v4
        with:
          name: slack-notifier-cli-${{ runner.arch }}
      - name: Publish executable as release asset
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: slack-notifier-cli-${{ runner.arch }}
          asset_name: slack-notifier-cli-${{ runner.arch }}
          tag: ${{ github.ref }}
          overwrite: true
