name: Build binary

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - runner: linux-x86
            arch: X64
          - runner: linux-arm64
            arch: ARM64
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'gradle'
      - uses: actions/cache@v4
        with:
          path: "/home/runner/.konan"
          key: ${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/build.gradle.kts') }}
      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt -y install libcurl4-openssl-dev
      - name: Build with Gradle
        run: ./gradlew commonBinaries
      - name: Move and apply correct permissions to binary
        run: |
          cp build/bin/common/releaseExecutable/slack-notifier-cli.kexe ./slack-notifier-cli-${{ matrix.arch }}
          chmod +x ./slack-notifier-cli-${{ matrix.arch }}
      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: slack-notifier-cli-${{ matrix.arch }}
          path: slack-notifier-cli-${{ matrix.arch }}
  publish:
    runs-on: linux-x86
    needs: build
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run changelog cli action
        uses: monta-app/changelog-cli-action@main
        with:
          service-name: "Slack Notifier Cli"
          github-release: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          jira-app-name: "montaapp"
          version-mode: "SemVer"
          output: "console"
          slack-token: ${{ secrets.SLACK_APP_TOKEN }}
          # Slack channel: C02PDBL6GAU = #info-releases
          slack-channel: "C02PDBL6GAU"
      - name: Download all executables
        uses: actions/download-artifact@v4
      - name: Publish x64 executable
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: slack-notifier-cli-X64/slack-notifier-cli-X64
          asset_name: slack-notifier-cli-X64
          tag: ${{ github.ref }}
          overwrite: true
      - name: Publish arm64 executable
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: slack-notifier-cli-ARM64/slack-notifier-cli-ARM64
          asset_name: slack-notifier-cli-ARM64
          tag: ${{ github.ref }}
          overwrite: true
      - name: Publish backwards-compatible executable
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: slack-notifier-cli-X64/slack-notifier-cli-X64
          asset_name: slack-notifier-cli
          tag: ${{ github.ref }}
          overwrite: true
