name: Test

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: linux-x86
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'gradle'
      - uses: actions/cache@v4
        with:
          path: "/home/runner/.konan"
          key: ${{ runner.os }}-${{ hashFiles('**/build.gradle.kts') }}
      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt -y install libcurl4-openssl-dev
      - name: Build x64 and ARM64 binaries
        run: ./gradlew buildAllLinuxBinaries
      - name: Prepare binaries
        run: |
          cp build/bin/common/releaseExecutable/slack-notifier-cli.kexe ./slack-notifier-cli-X64
          cp build/bin/linuxArm64/releaseExecutable/slack-notifier-cli.kexe ./slack-notifier-cli-ARM64
          chmod +x ./slack-notifier-cli-X64 ./slack-notifier-cli-ARM64
      - name: Upload x64 executable
        uses: actions/upload-artifact@v4
        with:
          name: slack-notifier-cli-X64
          path: slack-notifier-cli-X64
      - name: Upload ARM64 executable
        uses: actions/upload-artifact@v4
        with:
          name: slack-notifier-cli-ARM64
          path: slack-notifier-cli-ARM64
