name: Test

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        runner-name:
          - linux-x86
          - linux-arm64
    runs-on: ${{ matrix.runner-name }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'gradle'
      - uses: actions/cache@v4
        with:
          path: "/home/runner/.konan"
          key: ${{ runner.os }}-${{ hashFiles('**/build.gradle.kts') }}
      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt -y install libcurl4-openssl-dev
      - name: Build with Gradle
        run: ./gradlew commonBinaries
      - name: Move and apply correct permissions to binary
        run: |
          cp build/bin/common/releaseExecutable/slack-notifier-cli.kexe ./slack-notifier-cli-${{ runner.arch }}
          chmod +x ./slack-notifier-cli-${{ runner.arch }}
      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: slack-notifier-cli-${{ runner.arch }}
          path: slack-notifier-cli-${{ runner.arch }}
